mat-toolbar{
    background-color: navy;
    color:white;
}

mat-sidenav{
    margin:16px;
    width:200px;
    border-right: none;
    background-color: navy;
    color:white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}


.buttn {
    background-color: navy;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin: 15px;
  }
.content{
    
    height: auto;
    margin:16px;
    margin-left:32px;
    /* display: flex; */
    justify-content:flex-start;
    text-align: center;
    

    font-size: 2rem;
    color:black;

    border-radius: 10px;
    
}

.formica{
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    
}
mat-icon {
    margin-right:8px;
}


mat-sidenav-container{
    height: calc(100vh - 65px);
}

