<div class="container mt-8">
    <div class="card">
        <div class="card-header text-center">
            <h3>Evidencija plate</h3>
        </div>
        <div class="card-body">
            <div class="row table-headings">
                <div class="col-md-2">
                    <p><strong>Datum:</strong></p>
                </div>
                <div class="col-md-2">
                    <p><strong>Cena:</strong></p>
                </div>
                <div class="col-md-2">
                    <p><strong>Opis:</strong></p>
                </div>
                <div class="col-md-2">
                    <p><strong>Tip:</strong></p>
                </div>
            </div>
            <div>

            </div>

            <div *ngIf="filteredPayments.length == 0">
                <p>Ne postoji istorija placanja za ovu kategoriju</p>
            </div>
            <div *ngFor="let payment of filteredPayments; let i = index" class="mb-3 p-3 border rounded payment-item" [ngClass]="{ 'bg-blue': i % 2 !== 0 }">
                <div class="row">
                    <div class="col-md-2">
                        <p> {{ payment.date | date:'mediumDate' }}</p>
                    </div>
                    <div class="col-md-2">
                        <p> {{ payment.price + "din" }}</p>
                    </div>
                    <div class="col-md-2">
                        <p> {{ payment.description }}</p>
                    </div>
                    <div class="col-md-2">
                        <p> {{ payment.type }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>