<div class="container mt-8">
    <div class="card">
        <div class="card-header text-center">
            <h3>Istorija placanja</h3>
        </div>
        <div class="card-body">

            <div class="mb-3 label_container flex_label">
            <label>
                <input type="radio" name="paymentType" value="sve" (change)="filterPayments('sve')" checked>
                Sve
            </label>
            <label>
                <input type="radio" name="paymentType" value="plata" (change)="filterPayments('plata')">
                Plata
            </label>
            <label>
                <input type="radio" name="paymentType" value="kazna" (change)="filterPayments('kazna')">
                Kazne
            </label>
            <label>
                <input type="radio" name="paymentType" value="popravka" (change)="filterPayments('popravka')">
                Popravke
            </label>
            <label>
                <input type="radio" name="paymentType" value="usluge" (change)="filterPayments('usluge')">
                Usluge
            </label>
            </div>
            <div class="row table-headings">
                <div class="col-md-2">
                    <p><strong>Ime Zaposlenog:</strong></p>
                </div>
                <div class="col-md-2">
                    <p><strong>Vozilo (ukoliko je rec o popravci):</strong></p>
                </div>
                <div class="col-md-2">
                    <p><strong>Datum:</strong></p>
                </div>
                <div class="col-md-2">
                    <p><strong>Cena:</strong></p>
                </div>
                <div class="col-md-2">
                    <p><strong>Opis:</strong></p>
                </div>
                <div class="col-md-2">
                    <p><strong>Tip:</strong></p>
                </div>
            </div>
            <div>

            </div>

            <div *ngIf="filteredPayments.length == 0">
                <p>Ne postoji istorija placanja za ovu kategoriju</p>
            </div>
            <div *ngFor="let payment of filteredPayments; let i = index" class="mb-3 p-3 border rounded payment-item" [ngClass]="{ 'bg-blue': i % 2 !== 0 }">
                <div class="row">
                    <div class="col-md-2">
                        <p> {{ payment.idUser }}</p>
                    </div>
                    <div class="col-md-2">
                        <p> {{ payment.idVehicle }}</p>
                    </div>
                    <div class="col-md-2">
                        <p> {{ payment.date | date:'mediumDate' }}</p>
                    </div>
                    <div class="col-md-2">
                        <p> {{ payment.price + "din" }}</p>
                    </div>
                    <div class="col-md-2">
                        <p> {{ payment.description }}</p>
                    </div>
                    <div class="col-md-2">
                        <p> {{ payment.type }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>