.green{
    background-color: green;
    border-color: transparent;
}

.red{
    background-color: maroon;
    border-color: transparent;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 1%
}