.fuel-tracker {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 5px;
  }

  .buttonAddEntry{
    margin: 0 25%;
    width: 50%;
  }
  
  button {
    padding: 7px 10px;
    cursor: pointer;
  }
@media (max-width: 600px) {
    .fuel-tracker {
        padding: 10px;
        max-width: 100%;
    }

    input, button {
        width: 100%;
        box-sizing: border-box;
    }
}