<div class="container">
    <header class="header">
        <img src="assets/logo.png" alt="Drive Park Logo" class="logo">
        <h1>Drive Park</h1>
    </header>

    <button class="menu-toggle" (click)="toggleSidebar()">☰</button>
    <div class="main-content">
        <aside class="sidebar" [class.hidden]="isSidebarHidden">
            <div class="user-profile">
                <img src="assets/vozac.png" alt="User Photo" class="profile-photo">
                <p class="username">Username</p>
                <p class="user-fullname">First Last</p>
            </div>
            <hr>
            <nav class="nav-links">
                <a routerLink="/mechanic/userProfile">Profil</a>
                <a routerLink="/mechanic/waitingList">Popravke na cekanju</a>
                <a routerLink="/mechanic/repairment">Trenutna popravka</a>
                <a routerLink="/mechanic/history">Istorija popravki</a>
                <a routerLink="/mechanic/salary">Evidencija zarade</a>
                <a routerLink="/mechanic/logout">Logout</a>
            </nav>
        </aside>

        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>

    <footer class="footer">
        <p>Company Name</p>
    </footer>
</div>