.container {
    max-width: 800px;
  }

.select-container{
  margin-right: 2%;
}
  .card-header {
    background-color: #007bff;
    color: white;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  @media (max-width: 576px) {
    .text-end {
      text-align: left !important;
    }
  
    .row {
      flex-direction: column;
    }
  }
  